.categoria_titulo_principal {
    background-color: $bk-title-color;
    color: $text-title-color;
    font-size: $title-category-font-size;
    text-align: center;
    padding-top: 80px;
    margin: 0;
}