/* BARRA OFERTAS ESPECIALES */
.ofertas {
    color: $offer-text-color;
    background-color: $bk-offer-color;
    text-align: center;
    margin-top: 90px;
}

.oferta_titulo h1 {
    font-size: 25px;
    margin: 0;
}







/* BOTONES CATEGORIAS */

.cat {
    @include flex(flex, column, wrap, 20px, 60px, center)
}

.btn_categoria {
    @include tamanio(380px, 70px);
    background-color: $cat-bk-button-color;
    font-size: 40px;
    border-color: $cat-button-bordercolor;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;

    &:hover {
        background-color: $cat-bk-select-button-color;
        color: $cat-select-button-color;
        transition: 0.1s;
    }
}