/* BARRA OFERTAS ESPECIALES */
.ofertas {
    color: $offer-text-color;
    background-color: $bk-offer-color;
    text-align: center;
    margin-top: 90px;
}

.oferta_titulo h1 {
    font-size: 25px;
    margin: 0;
}







/* BOTONES CATEGORIAS */

.cat {
    @include flex(column, wrap, 50px, 60px, center);
    align-items: center;
    margin: 100px;
}

.btn_categoria {
    @include tamanio(80px, 300px);
    background-color: $cat-bk-button-color;
    font-size: 40px;
    display: flex;
    color: $cat-bk-select-button-color;
    justify-content: center;
    border-color: $cat-button-bordercolor;
    border-radius: 5px;
    align-items: center;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    padding: 50px;
    cursor: pointer;

    &:hover {
        background-color: $cat-bk-select-button-color;
        color: $cat-select-button-color;
        transition: 0.1s;
    }
}