/** CONTACTO **/
.contacto_primer_titulo {
    background-color: $bk-color;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
}

.form_content {
    background: $bk-color;
    font-size: 25px;
    color: #d3d3d3;
    height: 1550px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 10px;
    resize: none;
    padding-top: 0px;
}

.btn .imagen_contact {
    background-color: $bk-color;
    color: #143d11;
    z-index: 1;
}


.form_content_contacto {
    display: flex;
    font-size: 22px;
    text-align: left;
    flex-direction: column;
    width: 140%;
    gap: 1px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 0px;
}

/** BARRAS DEPARTAMENTO - CIUDAD/LOCALIDAD: **/
.form_content select {
    height: 40px;
    display: flex;
    font-size: 25px;
    width: 390px;
    padding: 7px;
    gap: 10px; 

    input {
        padding: 5px;
        font-family: 'Karla', sans-serif;
        font-size: 22px;
        width: 390px;
        border-radius: 5px;
        padding-bottom: 5px;
        margin: 6px;
        resize: none;
    }

    textarea {
        resize: none;
        font-size: 28px;
        width: 390px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 20px;
        height: 1500px;
        justify-content: center;
    }

    .tipo {
        padding: 5px;
        margin: 5px;
        font-size: 20px;
    }
}


.categoria_titulo_contacto {
    background-color: $bk-color;
    color: $text-title-color;
    font-size: $title-category-font-size;
    padding-top: 80px;
    margin: 0;
    text-align: center
}