/* MAPA INDEX */
.mapa_imagen {
    padding-top: 30px;
    width: 520px;
    height: 300px;
}


/** CARD FINAL PROMO **/
.btn-promo {
    border-radius: 7px;
    margin-top: 20px;
    color: $text-button-color-card;
    background-color: $bk-button-color-card;
    padding: 10px 25px 10px 25px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    text-align: center;
    align-content: center;

    &:hover {
        background-color: $select-button-color-card;
        transition: 0.3s;
    }
}