@media only screen and (max-width: 720px) {
    .menu-horizontal {
        font-size: 16px;
        display: inline-block;
        justify-content: center;
        width: 100%;
    }

    .menu-vertical {
        font-size: 15px;
        display: none;
        width: 100%;
    }

    .logo1 {
        display: flex;
    }

    .panel_ingreso_nombre {
        font-size: 16px;
    }

    .mapa_imagen {
        padding-top: 30px;
        width: 350px;
        height: 210px;
    }
}

@media only screen and (max-width: 300px) {


    .menu-horizontal {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0px;
        margin-top: 0px;   
    }

    .menu-vertical {
        font-size: 17px;
        display: inline-block;
    }

    .ofertas {
        color: rgb(240, 240, 240);
        background-color: rgb(255, 102, 0);
        text-align: center;
        margin-top: 90px;
    }
    
    h1 {
        font-size: 10px;
        margin: 0;
    }
}
/**
@media only screen and (min-width: 301px) and (max-width: 1200px) {

}
**/