@media only screen and (max-width: 550px){
    .menu-horizontal {
        font-size: 16px;
        display: inline-block;
        justify-content: center;
        width: 100%;
    }

    .menu-vertical {
        display: none;
        width: 100%;
        text-align: left;
    }

    .mapa_imagen {
        padding-top: 50px;
        width: 400px;
        height: 220px;
    }

    .legal h5{
        font-size: 9px;
    }

    .oferta_titulo h1 {
        font-size: 16px;
    }
}







@media only screen and (max-width:768px){
    .menu-horizontal {
        font-size: 16px;
        display: inline-block;
        justify-content: center;
        width: 100%;
    }

    .menu-vertical {
        font-size: 16px;
        display: none;
        width: 100%;
        text-align: left;
    }

    .oferta_titulo h1 {
        font-size: 16px;
    }


}
