/* BANNER 2 DOWNSIDE */
.imagen_2 {
    background-color: $footer-menu-color;
    width: 100%;
    height: 400px;
    display: block;
    padding: 1px;
    margin:0 auto;
}


/* FOOTER */
.footer {
    background-color: $bk-color;
    color: $footer-menu-color;
    padding-top: 30px;  
    padding: 5px;  
    margin: 20px;
}

.botones_footer {
    color: $footer-menu-color;
}

.botones_footer:hover{
    color: $footer-select-color;
    transition: .4s;
}

/* LEGAL */
.legal h5{
    float: right;
    color: $footer-legal;
    font-size: $footer-legal-text-size;
    text-align: right;
    padding: 5px;  
    margin: 20px;
}