/* LOGO UPSIDE */
.logo p a {
    color: $logo-color;
    display: flex;
    justify-content: right; 
    float: left;
    font-size: $logo-text-size;
    align-items: center;
    padding: 32px;
    background-color: $bk-color;
}

.second-color {
    font-size: $logo-text-size;
    color: $logo-snd-color;
    font-family: $logo-text-font;
}


.logo1 {
    margin-bottom: 0px;
}

/* ESTILOS GENERALES */

body {
    background-color: $bk-color;
}



.contenido-principal {
    background-color: $bk-color;
    margin: 2px;
}



.banner_segundo {
    background-color: $bk-color;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: $bk-color;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 0px;
}


/* CARRUSEL BOOTSTRAP */
.carousel-inner {
    width: 100%;
    height: 100%px;
}

/* BANNER 1 UPSIDE */
.imagen_1 {
    background-color: $bk-color;
    width: 100%;
    height: 400px;
    display: block;
    padding: 1px;
    margin:0 auto;
    
}





/* MENU HORIZONTAL */
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    margin-top: 0px;   

}

.menu-horizontal > li > a{
display: block;
padding: 35px 20px;
color: $main-menu-color;
text-decoration: none;

}

.menu-horizontal > li:hover {
background-color: $select-color;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    transition: .3s;
}



/* MENU VERTICAL */
.menu-vertical {
    position: absolute;
    display: none;
    list-style:none;
    width: 170px;
    background-color: $bk-color;
    z-index:1;
}

.menu-vertical li:hover{
    background-color: $select-color;
    display: flex;
    transition: .4s;
}

.menu-vertical li a{
display: block;
color: $main-menu-color;
padding: 15px 15px 15px 20px;
text-decoration: none;
transition: .4s;
}

ul {
    padding: 0;
    margin:0;
}