
//LOGO
$logo-color: #ffffff;
$logo-snd-color:#c93c19;


//HEADER
$main-menu-color: rgba(191, 191, 191, 0.843);
$select-color: #625552b4;


//FOOTER
$footer-menu-color: rgba(191, 191, 191, 0.843);
$footer-select-color: #ffffff;
$footer-legal: #ffffff;

//MAIN COLORS
$bk-color: #201f24;
$bk-snd-color: rgba(255, 255, 255, 0.969);
$bk-hover-color: rgb(255, 255, 255);


//PRODUCTS CARDS
$text-product-article: rgb(0, 0, 0);
$text-product-price: #143d11;

//BOTONES AGREGAR A CARRITO
$text-botton-color: #ffffff;
$bk-botton-color: #c11414;
$select-botton-color: #1a731f;


//CARD PROMO INDEX
$text-botton-color: #ffffff;
$bk-botton-color-card: #140f7c;
$select-botton-color-card: #0a2e0c;